{
	admin off
	persist_config off
	auto_https off
	servers {
		trusted_proxies static private_ranges 100.0.0.0/8
	}
}

:{$PORT} {
	log {
		format json
	}

	encode gzip

	handle /health {
		respond "ok" 200
	}

	handle_path /api/* {
		reverse_proxy 127.0.0.1:{$MOCKOON_PORT} {
			transport http {
				dial_timeout 5s
				response_header_timeout 30s
			}
		}
	}

	handle {
		root * ./dist
		try_files {path} /index.html
		file_server
	}
}
